**/*.ts
.git/**
.gitattributes
.gitignore
*.log
*.vsix
.vscode/**
.vscode-test/**
.vscodeignore
DO_NOT_DELETE/**
vsix-inspect/**
.github/**
node_modules
scripts/**
tools/**
src/**
tsconfig.json
out/**
assets/**
!assets/icon.png
!LICENSE
!package.json
!CHANGELOG.md
!SUPPORT.md
!out/*.js
!out/*.js.map
!out/core/*.js
!out/core/*.js.map
!out/providers/*.js
!out/providers/*.js.map
!out/panel/*.js
!out/panel/*.js.map
!out/snapshots/*.js
!out/snapshots/*.js.map
