**/*.ts
.git/**
.gitattributes
.gitignore
.vscode/**
.vscodeignore
DO_NOT_DELETE/**
.github/**
node_modules
scripts/**
src/**
tsconfig.json
out/**
assets/**
!assets/icon.png
!LICENSE
!package.json
!CHANGELOG.md
!SUPPORT.md
!out/extension.js
!out/extension.js.map
